<div class='topic-op-avatar'>
  <div class="inline">
    <a href="{{topic.posters.[0].user.path}}" data-user-card="{{topic.posters.[0].user.username}}" class="{{topic.posters.[0].extras}}">
      {{avatar topic.posters.[0] avatarTemplatePath="user.avatar_template" usernamePath="user.username" imageSize=imageSize}}
    </a>
  </div>
</div>