<div class='topic-metadata'>
  <span>by <a href="{{topic.posters.[0].user.path}}">{{topic.posters.[0].user.username}}</a> - {{format-date topic.created_at leaveAgo="true" format="medium"}}</span>
</div>