<div id="adleaks-top-users">
  <h3>Top Contributors</h3>
  <div class="directory">
    {{#each topUsers as |item|}}
      <div class="directory-item">
        <td class="directory-user">{{user-info user=item.user}}</td>
        <td class="directory-likes"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{number item.likes_received}}</td>
      </div>
    {{/each}}
  </div>
</div>